<!DOCTYPE html>
<html lang="es">
<head> 
    <meta charset="UTF-8">
    <title>P2 core index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body> 
    <h1>Bienvenido al core</h1> 
    <ul>
        <li><a href="{% url 'suma_home' %}">Abrir suma</a></li>
        <li><a href="{% url 'resta_home' %}">Abrir resta</a></li> 
        <li><a href="{% url 'multiplicacion_home' %}">Abrir multiplicacion</a></li>
        <li><a href="{% url 'division_home' %}">Abrir division</a></li>
        <li><a href="{% url 'factorizacion_home' %}">Abrir factorizacion</a></li>
        <li><a href="{% url 'jerarquia_de_operaciones_home' %}">Abrir jerarquia de operaciones</a></li>
        <li><a href="{% url 'operaciones_con_polinomios_home' %}">Abrir operaciones con polinomios</a></li>
        <li><a href="{% url 'impresion_de_rectas_numericas_home' %}">Abrir impresion de rectas numericas</a></li>
        <li><a href="{% url 'ecuaciones_de_primer_grado_home' %}">Abrir ecuaciones de primer grado</a></li>
        <li><a href="{% url 'ecuaciones_de_segundo_grado_home' %}">Abrir ecuaciones de segundo grado</a></li>
        <li><a href="{% url 'calculo_de_areas_figuras_planas_home' %}">Abrir calculo de areas figuras planas</a></li>
        <li><a href="{% url 'calculo_de_perimetros_figuras_planas_home' %}">Abrir calculo de perimetros figuras planas</a></li>
    </ul>
</body>
</html>
